:root {
    --global-bg-color: #424242;
    --global-text-color: #e8e8e8;
    --global-theme-color: #6ddeff;
    --global-icon-color: #ffe5bd
}

body {
    padding-bottom: 70px;
    color: var(--global-text-color);
    background-color: var(--global-bg-color)
}



.social {
    text-align: center
}

.social .contact-icon {
    font-size: 4rem
}

.social .contact-icon a {
    color: var(--global-icon-color)
}

.social .contact-icon a:hover {
    color: var(--global-theme-color)
}
