:root {
    --global-bg-color: #424242;
    --global-text-color: #e8e8e8;
    --global-hover-color: #6ddeff;
    --global-icon-color: #ffe5bd
}

body {
    padding-top: 120px;
    color: var(--global-text-color);
    background-color: var(--global-bg-color)
}

.container {
    max-width: 750px
}

.social {
    text-indent: 4.3%;
}

.social .contact-icon {
    font-size: 4rem
}

.social .contact-icon a {
    color: var(--global-icon-color)
}

.social .contact-icon a:hover {
    color: var(--global-hover-color)
}

img {
  display: block;
  margin-left: 30%;
  margin-right: auto;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
}
